{
  "$schema": "https://opencode.ai/config.json",
  "provider": {
{{- if and (eq .chezmoi.os "darwin") (eq .org "Endobit") }}
    "ollama": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "Ollama",
      "options": {
        "baseURL": "http://localhost:11434/v1"
      },
      "models": {
        "qwen3.5": {
          "name": "qwen3.5"
        }
      }
    }
{{- end }}
  }
}
