[data]
{{ $hyland := promptBool "Hyland machine" }}
{{ if $hyland }}
    org       = "Hyland"
    email     = "Mason.Katz@Hyland.com"
    shortname = "mason"
    fullname  = "Mason Katz"
{{ else }}
  {{ $desktop := promptBool "Desktop" }}
  {{ if $desktop }}
    desktop   = true
  {{ else }}
    desktop   = false
  {{ end }}
    org       = "endobit"
    email     = "mjk@endobit.io"
    golocal   = "github.com/masonkatz,endobit.io"
    shortname = "mjk"
    fullname  = "Mason J. Katz"
{{ end }}
