{{- $domain := promptChoiceOnce . "org" "What organization is this" (list "Endobit" "Hyland") "Endobit" }}
{{- $hylandLaptop := promptStringOnce . "hbook" "Hyland laptop hostname" }}
{{- $desktop := promptBoolOnce . "desktop" "Desktop" -}}
[data]
    org       = "{{ $domain }}"
{{- if eq $domain "Hyland" }}
    email     = "Mason.Katz@Hyland.com"
    golocal   = ""
    shortname = "mason.katz"
    fullname  = "Mason Katz"
{{- end }}

{{- if eq $domain "Endobit" }}
  {{- if $desktop }}
    desktop   = true
  {{- else }}
    desktop   = false
  {{- end }}
    email     = "mjk@endobit.io"
    golocal   = "github.com/masonkatz,endobit.io"
    shortname = "mjk"
    fullname  = "Mason J. Katz"
    hbook     = "{{ $hylandLaptop }}"
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
    docker    = "docker"
{{- end }}
