tap "homebrew/bundle"
tap "buo/cask-upgrade"
brew "mas"

tap "bufbuild/buf"
tap "d12frosted/emacs-plus"
tap "homebrew/bundle"
tap "homebrew/services"

brew "bash-language-server"
brew "black", restart_service: true
brew "btop"
brew "bufbuild/buf/buf"
brew "calc"
brew "certifi"
brew "chezmoi"
brew "cloc"
brew "coreutils"
brew "d12frosted/emacs-plus/emacs-plus@29"
brew "docker"
brew "docker-compose"
brew "dos2unix"
brew "figlet"
brew "gdk-pixbuf"
brew "gh"
brew "git"
brew "glab"
brew "glib"
brew "gnu-indent"
brew "gnupg"
brew "go"
brew "golangci-lint"
brew "gopls"
brew "graphviz"
brew "harfbuzz"
brew "htop"
brew "httpie"
brew "imagemagick"
brew "ispell"
brew "kubectx"
brew "librsvg"
brew "llvm"
brew "markdown"
brew "microplane"
brew "moar"
brew "ncftp"
brew "neofetch"
brew "nmap"
brew "node"
brew "pango"
brew "pipx"
brew "prettier"
brew "protoc-gen-go"
brew "protoc-gen-go-grpc"
brew "pyenv"
brew "pygments"
brew "qemu"
brew "s3cmd"
brew "solargraph"
brew "starship"
brew "source-highlight"
brew "telnet"
brew "the_silver_searcher"
brew "thefuck"
brew "tldr"
brew "tree-sitter"
brew "unbound", restart_service: true
brew "util-linux"
brew "virtualenv"
brew "watch"
brew "wireshark", link: false
brew "with-readline"
brew "yaml-language-server"
brew "zsh-completions"
brew "zsh-syntax-highlighting"

cask "1password"
cask "1password-cli"
cask "anaconda"
cask "font-jetbrains-mono"
cask "font-jetbrains-mono-nerd-font"
cask "ghostty"
cask "google-chrome"
cask "hhkb-studio"
cask "knockknock"
cask "monitorcontrol"
cask "omnifocus"
cask "omnigraffle"
cask "omnioutliner"
cask "omniplan"
cask "oversight"
cask "reikey"
cask "stats"
cask "utm"
cask "vnc-viewer"
cask "wireshark"

mas "Developer", id: 640199958
mas "Kindle", id: 302584613
mas "Slack", id: 803453959
mas "Tailscale", id: 1475387142
{{ if eq .org "teradata" }}
cask "rancher"

brew "angular-cli"
brew "ansible"
brew "ansible-language-server"
brew "just"
brew "rancher-cli"
{{ end }}
{{ if eq .org "endobit" }}
brew "gatsby-cli"
brew "git-flow-avh"
brew "hugo"
brew "mage"
brew "npm"
brew "swift-format"
brew "yarn"
brew "zig"

cask "ollama"
cask "vlc"
cask "xquartz"

mas "Evernote", id: 406056744
mas "GarageBand", id: 682658836
mas "Keynote", id: 409183694
mas "Notability", id: 736189492
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Playgrounds", id: 1496833156
mas "Twitter", id: 1482454543
mas "Xcode", id: 497799835
mas "iMovie", id: 408981434
{{ end }}

