brew "bash-language-server"
brew "black", restart_service: true
brew "btop"
brew "buf"
brew "calc"
brew "certifi"
brew "chezmoi"
brew "cloc"
brew "coreutils"
brew "dos2unix"
brew "figlet"
brew "gdk-pixbuf"
brew "gh"
brew "git"
brew "glab"
brew "glib"
brew "gnu-indent"
brew "gnupg"
brew "go"
brew "golangci-lint"
brew "gopls"
brew "graphviz"
brew "graphql-cli"
brew "harfbuzz"
brew "htop"
brew "httpie"
brew "icu4c@78"
brew "imagemagick"
brew "ispell"
brew "just"
brew "kubectx"
brew "librsvg"
brew "llvm"
brew "markdown"
brew "mas"
brew "microplane"
brew "moor"
brew "ncftp"
brew "nmap"
brew "node"
brew "opencode"
brew "pango"
brew "pipx"
brew "prettier"
brew "protobuf"
brew "protoc-gen-go"
brew "protoc-gen-go-grpc"
brew "pyenv"
brew "pygments"
brew "python-lsp-server"
brew "qemu"
brew "s3cmd"
brew "solargraph"
brew "starship"
brew "source-highlight"
brew "telnet"
brew "the_silver_searcher"
brew "thefuck"
brew "tlrc"
brew "tree-sitter"
brew "tree-sitter@0.25" {{/* needed to build xemacs */}}
brew "unbound", restart_service: :changed
brew "util-linux"
brew "virtualenv"
brew "watch"
brew "wget"
brew "with-readline"
brew "witr"
brew "yaml-language-server"
brew "zsh-completions"
brew "zsh-syntax-highlighting"

cask "1password"
cask "1password-cli"
cask "brave-browser"
cask "copilot-cli"
cask "emacs-app"
cask "font-jetbrains-mono"
cask "font-jetbrains-mono-nerd-font"
cask "ghostty"
cask "hhkb-studio"
cask "knockknock"
cask "monitorcontrol"
cask "omnifocus"
cask "omnigraffle"
cask "omnioutliner"
cask "omniplan"
cask "oversight"
cask "reikey"
cask "stats"
cask "vnc-viewer"
cask "wireshark-app"

mas "Tailscale", id: 1475387142
mas "Xcode", id: 497799835
{{ if eq .org "endobit" }}
{{ if .desktop }}
brew "ffmpeg"

cask "transmission"

mas "iMovie", id: 408981434
mas "Swift Playground", id: 1496833156
{{ end  }}
brew "git-flow-next"
brew "hugo"
brew "mage"
brew "npm"
brew "pnpm"
brew "sqlc"
brew "swift-format"
cask "vlc"
brew "yarn"
brew "zig"

cask "docker-desktop"
cask "xquartz"

mas "Developer", id: 640199958
mas "Evernote", id: 406056744
mas "GarageBand", id: 682658836
mas "Keynote", id: 409183694
mas "Kindle", id: 302584613
mas "Notability 2", id: 360593530
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Slack", id: 803453959
{{ else }}{{/* for non-personal use default to rancher due to docker-desktop license */}}
brew "rancher-cli"

cask "rancher"
{{ end }}

{{ if eq .org "teradata" }}
brew "angular-cli"
brew "ansible"
brew "ansible-language-server"
{{ end }}

