#!/bin/sh
#
# ~/.profile - portable SH shell config

{{ if eq .chezmoi.os "darwin" }}
PS_INFO=
{{ else }}
PS_INFO='\u@\h '
{{ end }}

source ~/.bashrc

{{ if eq .chezmoi.os "darwin" }}
test -e "${HOME}/.iterm2_shell_integration.bash" && source "${HOME}/.iterm2_shell_integration.bash"
{{ end }}
