#!/bin/zsh

{{- define "brew" }}
[[ -d {{ . }} ]] && eval "$({{ . }}/bin/brew shellenv)"
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
  {{- if eq .chezmoi.arch "amd64" }}
    {{ template "brew" "/usr/local" }}
  {{- else }}
    {{ template "brew" "/opt/homebrew" }}
  {{- end }}
{{- end }}

{{- if eq .chezmoi.os "linux" }}
    {{ template "brew" "/home/linuxbrew/.linuxbrew" }}
{{- end }}
