#!/bin/zsh

{{ if eq .chezmoi.os "darwin" }}

{{ if eq .chezmoi.arch "amd64" }}
HOMEBREW=/usr/local
{{ else }}
HOMEBREW=/opt/homebrew
{{ end }}

if [[ -d $HOMEBREW ]]; then
	PATH=$HOMEBREW/bin:$HOMEBREW/sbin:$PATH
fi

if [ -d $HOME/.rd/bin ]; then	# rancher desktop
	PATH=$HOME/.rd/bin:$PATH
fi

{{ end }}

if [ -d ~/.pyenv ]; then		# pyenv at the front
	PATH=~/.pyenv/shims:$PATH
fi
