{{ if eq .chezmoi.os "darwin" -}}
XTerm*faceName: JetBrains Mono
{{- end }}
XTerm*faceSize: 12
XTerm*renderFont: true
XTerm*utf8: 2
XTerm*locale: true

XTerm*background:  #3e3e3e
XTerm*foreground:  #dbdccd
XTerm*cursorColor: #a6c3a2
XTerm*color0:      #5f5f5f
XTerm*color1:      #d3a5a4
XTerm*color2:      #a6c3a2
XTerm*color3:      #cdbf94
XTerm*color4:      #89b6b9
XTerm*color5:      #d3a5a4
XTerm*color6:      #9aced1
XTerm*color7:      #dbdccd
XTerm*color8:      #8e8e8e
XTerm*color9:      #e3b5b4
XTerm*color10:     #c7e9c2
XTerm*color11:     #eddfb4
XTerm*color12:     #9cbdee
XTerm*color13:     #e6abd8
XTerm*color14:     #a4dde1
XTerm*color15:     #fefff0
