#!/bin/zsh

if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
	source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

export ZSH=~/.oh-my-zsh

if [[ "$TERM" != "dumb" ]]; then
	ZSH_THEME="powerlevel10k"
	[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
fi

CASE_SENSITIVE="true"

plugins=(git git-flow golang docker docker-compose)


{{ if eq .org "softiron" }}	# SoftIron
export SOFTIRON=1
export BADGO=1
{{ end }}


{{ if eq .chezmoi.os "darwin" }} # MacOS
if [[ -z "$INSIDE_EMACS" ]]; then
	test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"
fi
eval $(thefuck --alias)
{{ end }}


eval `dircolors -b "${HOME}/.dircolors"`

DEFAULT_USER=`whoami`

source $ZSH/oh-my-zsh.sh

COMPLETIONS=~/.completions
[[ -d $COMPLETIONS ]] || mkdir $COMPLETIONS
fpath=($COMPLETIONS $fpath)

autoload -Uz compinit; compinit


# Do this after zsh setup to fix the ls aliases

case $TERM in
eterm-color)
	chpwd() { print -P "\033AnSiTc %d" }
	print -P "\033AnSiTu %n"
	print -P "\033AnSiTc %d"
	alias ls='ls -F --color'
	DISABLE_AUTO_TITLE="true"
	;;
xterm*|screen*color)
	alias ls='ls -F --color'
        ;;
esac

alias l='ls'
alias la='ls -a'
alias ll='ls -l'
unalias lsa

alias m='make'

export VISUAL=emacsclient
export EDITOR=emacsclient
export ALTERNATE_EDITOR='emacs -nw'
alias e='emacsclient'

