[init]
	defaultBranch = main
[core]
	pager = less -FX

[rerere]
	enabled = true

[fetch]
	prune = true

[push]
	autoSetupRemote = true
	default = current
	followTags = true

[submodule]
	recurse = true

[gitflow "prefix"]
	feature = feature/
	bugfix  = bugfix/
	release = release/
	hotfix  = hotfix/
 	support = support/
	versiontag =

[gitflow "branch"]
	master  = main
	develop = develop
{{ if eq .org "teradata" }}
[url "ssh://git@github.com"]
	 insteadOf = https://github.com
{{- end }}

[commit]
	template = {{ .chezmoi.homeDir }}/.config/git/commit-template
{{- if stat (joinPath .chezmoi.homeDir ".ssh/id_rsa.pub") }}
	gpgSign = true
{{- end }}
{{ if stat (joinPath .chezmoi.homeDir ".ssh/id_rsa.pub") }}
[tag]
	gpgSign = true
	forceSignAnnotated = true
{{- end }}

[log]
	showSignature = true

[blame]
	coloring = highlightRecent
	date = human
	showEmail = true
	
[gpg]
	format=ssh

[gpg "ssh"]
	 allowedSignersFile = {{ .chezmoi.homeDir}}/.config/git/signers

[alias]
	graph = log --graph --pretty=format:'%Cred%h%Creset - %C(cyan)<%an>%Creset%C(yellow)%d%Creset %s %Cgreen(%cr)' --abbrev-commit --date=relative

[user]
	name  = {{ .fullname }}
	email = {{ .email }}
{{- if stat (joinPath .chezmoi.homeDir ".ssh/id_rsa.pub") }}
	signingKey = {{ include (joinPath .chezmoi.homeDir ".ssh/id_rsa.pub") }}
{{- end }}
