#!/bin/zsh

{{- if eq .chezmoi.os "darwin" }}
  {{- if eq .chezmoi.arch "amd64" }}
brew=/usr/local
  {{- else }}
brew=/opt/homebrew
  {{- end }}
{{- end }}

{{- if eq .chezmoi.os "linux" }}
brew=/home/linuxbrew/.linuxbrew
{{- end }}

[[ -d $brew ]] && eval "$($brew/bin/brew shellenv)"
