#!/bin/zsh

function include() {
	[[ -f $1 ]] && source $1
}

if type brew &>/dev/null; then
    FPATH=$(brew --prefix)/share/zsh-completions:$FPATH

    autoload -Uz compinit
    compinit -u
fi

include "$HOME/.config/zsh/options.zsh"
include "$HOME/.config/zsh/aliases.zsh"
include "$HOME/.config/zsh/devel.zsh"
include "$HOME/.config/zsh/emacs.zsh"
include "$HOME/.config/zsh/term.zsh"
