#!/bin/zsh

{{- define "include" }}
[[ -f {{ . }} ]] && source {{ . }}
{{- end }}

if type brew &>/dev/null; then
    FPATH=$(brew --prefix)/share/zsh-completions:$FPATH

    autoload -Uz compinit
    compinit -u
fi

{{- template "include" "$HOME/.config/zsh/options.zsh" }}
{{- template "include" "$HOME/.config/zsh/aliases.zsh" }}
{{- template "include" "$HOME/.config/zsh/devel.zsh" }}
{{- template "include" "$HOME/.config/zsh/emacs.zsh" }}
{{- template "include" "$HOME/.config/zsh/term.zsh" }}
