#!/bin/zsh

# prepend
[[ -d ~/go/bin ]]  && path=(~/go/bin $path)
[[ -d ~/.pyenv ]]  && path=(~/.pyenv/shims $path)
[[ -d ~/.rd/bin ]] && path=(~/.rd/bin $path) # rancher desktop

# append
[[ -d ~/bin ]]     && path+=(~/bin)
