{
  "Ansi 5 Color" : {
    "Red Component" : 0.86274509803921573,
    "Color Space" : "sRGB",
    "Blue Component" : 0.63921568627450975,
    "Alpha Component" : 1,
    "Green Component" : 0.63921568627450975
  },
  "Working Directory" : "{{ .chezmoi.homeDir }}",
  "Prompt Before Closing 2" : false,
  "Selected Text Color" : {
    "Red Component" : 0.2196078431372549,
    "Color Space" : "sRGB",
    "Blue Component" : 0.2196078431372549,
    "Alpha Component" : 1,
    "Green Component" : 0.37254901960784315
  },
  "Rows" : 25,
  "Ansi 11 Color" : {
    "Red Component" : 0.94117647058823528,
    "Color Space" : "sRGB",
    "Blue Component" : 0.68627450980392157,
    "Alpha Component" : 1,
    "Green Component" : 0.87450980392156863
  },
  "Use Italic Font" : true,
  "Foreground Color" : {
    "Red Component" : 0.86274509803921573,
    "Color Space" : "sRGB",
    "Blue Component" : 0.80000000000000004,
    "Alpha Component" : 1,
    "Green Component" : 0.86274509803921573
  },
  "Right Option Key Sends" : 0,
  "Character Encoding" : 4,
  "Selection Color" : {
    "Red Component" : 0.97254901960784312,
    "Color Space" : "sRGB",
    "Blue Component" : 0.58039215686274515,
    "Alpha Component" : 1,
    "Green Component" : 0.97254901960784312
  },
  "Mouse Reporting" : true,
  "Cursor Boost" : 0,
  "Ansi 4 Color" : {
    "Red Component" : 0.48627450980392156,
    "Color Space" : "sRGB",
    "Blue Component" : 0.73333333333333328,
    "Alpha Component" : 1,
    "Green Component" : 0.72156862745098038
  },
  "Non-ASCII Anti Aliased" : true,
  "Sync Title" : false,
  "Disable Window Resizing" : true,
  "Description" : "Default",
  "Close Sessions On End" : true,
  "Jobs to Ignore" : [
    "rlogin",
    "ssh",
    "slogin",
    "telnet"
  ],
  "Non-ASCII Ligatures" : false,
  "Scrollback Lines" : 5000,
  "Draw Powerline Glyphs" : false,
  "Brighten Bold Text" : false,
  "Flashing Bell" : true,
  "Cursor Guide Color" : {
    "Red Component" : 0.70213186740875244,
    "Color Space" : "sRGB",
    "Blue Component" : 1,
    "Alpha Component" : 0.25,
    "Green Component" : 0.9268307089805603
  },
  "BM Growl" : true,
  "Ansi 3 Color" : {
    "Red Component" : 0.81568627450980391,
    "Color Space" : "sRGB",
    "Blue Component" : 0.5607843137254902,
    "Alpha Component" : 1,
    "Green Component" : 0.74901960784313726
  },
  "Icon" : 1,
  "Use Non-ASCII Font" : true,
  "Link Color" : {
    "Red Component" : 1,
    "Color Space" : "sRGB",
    "Blue Component" : 1,
    "Alpha Component" : 1,
    "Green Component" : 1
  },
  "Shortcut" : "",
  "Background Image Location" : "",
  "Bold Color" : {
    "Red Component" : 0.94117647058823528,
    "Color Space" : "sRGB",
    "Blue Component" : 0.68627450980392157,
    "Alpha Component" : 1,
    "Green Component" : 0.87450980392156863
  },
  "Use Cursor Guide" : false,
  "Unlimited Scrollback" : false,
  "Custom Command" : "No",
  "Keyboard Map" : {
    "0xf700-0x260000" : {
      "Action" : 10,
      "Text" : "[1;6A"
    },
    "0x37-0x40000" : {
      "Action" : 11,
      "Text" : "0x1f"
    },
    "0x32-0x40000" : {
      "Action" : 11,
      "Text" : "0x00"
    },
    "0xf709-0x20000" : {
      "Action" : 10,
      "Text" : "[17;2~"
    },
    "0xf70c-0x20000" : {
      "Action" : 10,
      "Text" : "[20;2~"
    },
    "0xf729-0x20000" : {
      "Action" : 10,
      "Text" : "[1;2H"
    },
    "0xf72b-0x40000" : {
      "Action" : 10,
      "Text" : "[1;5F"
    },
    "0xf705-0x20000" : {
      "Action" : 10,
      "Text" : "[1;2Q"
    },
    "0xf703-0x260000" : {
      "Action" : 10,
      "Text" : "[1;6C"
    },
    "0xf700-0x220000" : {
      "Action" : 10,
      "Text" : "[1;2A"
    },
    "0xf701-0x280000" : {
      "Action" : 11,
      "Text" : "0x1b 0x1b 0x5b 0x42"
    },
    "0x38-0x40000" : {
      "Action" : 11,
      "Text" : "0x7f"
    },
    "0x33-0x40000" : {
      "Action" : 11,
      "Text" : "0x1b"
    },
    "0xf703-0x220000" : {
      "Action" : 10,
      "Text" : "[1;2C"
    },
    "0xf701-0x240000" : {
      "Action" : 10,
      "Text" : "[1;5B"
    },
    "0xf70d-0x20000" : {
      "Action" : 10,
      "Text" : "[21;2~"
    },
    "0xf702-0x260000" : {
      "Action" : 10,
      "Text" : "[1;6D"
    },
    "0xf729-0x40000" : {
      "Action" : 10,
      "Text" : "[1;5H"
    },
    "0xf706-0x20000" : {
      "Action" : 10,
      "Text" : "[1;2R"
    },
    "0x34-0x40000" : {
      "Action" : 11,
      "Text" : "0x1c"
    },
    "0xf700-0x280000" : {
      "Action" : 11,
      "Text" : "0x1b 0x1b 0x5b 0x41"
    },
    "0x2d-0x40000" : {
      "Action" : 11,
      "Text" : "0x1f"
    },
    "0xf70e-0x20000" : {
      "Action" : 10,
      "Text" : "[23;2~"
    },
    "0xf702-0x220000" : {
      "Action" : 10,
      "Text" : "[1;2D"
    },
    "0xf703-0x280000" : {
      "Action" : 11,
      "Text" : "0x1b 0x1b 0x5b 0x43"
    },
    "0xf700-0x240000" : {
      "Action" : 10,
      "Text" : "[1;5A"
    },
    "0xf707-0x20000" : {
      "Action" : 10,
      "Text" : "[1;2S"
    },
    "0xf70a-0x20000" : {
      "Action" : 10,
      "Text" : "[18;2~"
    },
    "0x35-0x40000" : {
      "Action" : 11,
      "Text" : "0x1d"
    },
    "0xf70f-0x20000" : {
      "Action" : 10,
      "Text" : "[24;2~"
    },
    "0xf703-0x240000" : {
      "Action" : 10,
      "Text" : "[1;5C"
    },
    "0xf701-0x260000" : {
      "Action" : 10,
      "Text" : "[1;6B"
    },
    "0xf702-0x280000" : {
      "Action" : 11,
      "Text" : "0x1b 0x1b 0x5b 0x44"
    },
    "0xf72b-0x20000" : {
      "Action" : 10,
      "Text" : "[1;2F"
    },
    "0x36-0x40000" : {
      "Action" : 11,
      "Text" : "0x1e"
    },
    "0xf708-0x20000" : {
      "Action" : 10,
      "Text" : "[15;2~"
    },
    "0xf701-0x220000" : {
      "Action" : 10,
      "Text" : "[1;2B"
    },
    "0xf70b-0x20000" : {
      "Action" : 10,
      "Text" : "[19;2~"
    },
    "0xf702-0x240000" : {
      "Action" : 10,
      "Text" : "[1;5D"
    },
    "0xf704-0x20000" : {
      "Action" : 10,
      "Text" : "[1;2P"
    }
  },
  "Ansi 14 Color" : {
    "Red Component" : 0.57647058823529407,
    "Color Space" : "sRGB",
    "Blue Component" : 0.8901960784313725,
    "Alpha Component" : 1,
    "Green Component" : 0.8784313725490196
  },
  "Ansi 2 Color" : {
    "Red Component" : 0.62352941176470589,
    "Color Space" : "sRGB",
    "Blue Component" : 0.62352941176470589,
    "Alpha Component" : 1,
    "Green Component" : 0.77254901960784317
  },
  "Send Code When Idle" : false,
  "ASCII Anti Aliased" : true,
  "Tags" : [

  ],
  "Ansi 9 Color" : {
    "Red Component" : 0.92549019607843142,
    "Color Space" : "sRGB",
    "Blue Component" : 0.70196078431372544,
    "Alpha Component" : 1,
    "Green Component" : 0.70196078431372544
  },
  "Use Bold Font" : true,
  "Silence Bell" : true,
  "Ansi 12 Color" : {
    "Red Component" : 0.58039215686274515,
    "Color Space" : "sRGB",
    "Blue Component" : 0.95294117647058818,
    "Alpha Component" : 1,
    "Green Component" : 0.74901960784313726
  },
  "Window Type" : 0,
  "Use Bright Bold" : true,
  "Cursor Text Color" : {
    "Red Component" : 0,
    "Color Space" : "sRGB",
    "Blue Component" : 0.094117647058823528,
    "Alpha Component" : 1,
    "Green Component" : 0.050980392156862744
  },
  "Default Bookmark" : "No",
  "Cursor Color" : {
    "Red Component" : 0.62352941176470589,
    "Color Space" : "sRGB",
    "Blue Component" : 0.62352941176470589,
    "Alpha Component" : 1,
    "Green Component" : 0.77254901960784317
  },
  "Ansi 1 Color" : {
    "Red Component" : 0.86274509803921573,
    "Color Space" : "sRGB",
    "Blue Component" : 0.63921568627450975,
    "Alpha Component" : 1,
    "Green Component" : 0.63921568627450975
  },
  "Name" : "Default",
  "Blinking Cursor" : true,
  "Guid" : "C2F8C8CE-A312-44BF-97B7-54F9C46F9DD3",
  "Idle Code" : 0,
  "Ansi 10 Color" : {
    "Red Component" : 0.74901960784313726,
    "Color Space" : "sRGB",
    "Blue Component" : 0.74901960784313726,
    "Alpha Component" : 1,
    "Green Component" : 0.92156862745098034
  },
  "Ansi 8 Color" : {
    "Red Component" : 0.5607843137254902,
    "Color Space" : "sRGB",
    "Blue Component" : 0.5607843137254902,
    "Alpha Component" : 1,
    "Green Component" : 0.5607843137254902
  },
  "Badge Color" : {
    "Red Component" : 1,
    "Color Space" : "sRGB",
    "Blue Component" : 0,
    "Alpha Component" : 0.5,
    "Green Component" : 0.1491314172744751
  },
  "Smart Cursor Color" : false,
  "Ambiguous Double Width" : false,
  "Cursor Type" : 2,
  "Ansi 0 Color" : {
    "Green Component" : 0.30196079611778259,
    "Red Component" : 0.30196079611778259,
    "Blue Component" : 0.30196079611778259
  },
  "Blur" : false,
  "Vertical Spacing" : 1,
  "Normal Font" : "JetBrainsMono-Variable_Semi-Light 19",
  "Ansi 7 Color" : {
    "Red Component" : 0.86274509803921573,
    "Color Space" : "sRGB",
    "Blue Component" : 0.80000000000000004,
    "Alpha Component" : 1,
    "Green Component" : 0.86274509803921573
  },
  "Command" : "",
  "Terminal Type" : "xterm-256color",
  "Horizontal Spacing" : 1,
  "Option Key Sends" : 0,
  "Only The Default BG Color Uses Transparency" : false,
  "Blink Allowed" : true,
  "Minimum Contrast" : 0,
  "Ansi 15 Color" : {
    "Red Component" : 1,
    "Color Space" : "sRGB",
    "Blue Component" : 0.93725490196078431,
    "Alpha Component" : 1,
    "Green Component" : 1
  },
  "Unicode Version" : 9,
  "Ansi 6 Color" : {
    "Red Component" : 0.5490196078431373,
    "Color Space" : "sRGB",
    "Blue Component" : 0.82745098039215681,
    "Alpha Component" : 1,
    "Green Component" : 0.81568627450980391
  },
  "Transparency" : 0,
  "Background Color" : {
    "Red Component" : 0.24705882352941178,
    "Color Space" : "sRGB",
    "Blue Component" : 0.24705882352941178,
    "Alpha Component" : 1,
    "Green Component" : 0.24705882352941178
  },
  "Screen" : -1,
  "Non Ascii Font" : "MesloLGS-NF-Regular 18",
  "Allow Paste Bracketing" : false,
  "Ansi 13 Color" : {
    "Green Component" : 0.57647061347961426,
    "Red Component" : 0.92549020051956177,
    "Blue Component" : 0.82745099067687988
  },
  "Use Tab Color" : false,
  "Columns" : 80,
  "Visual Bell" : true,
  "Custom Directory" : "No",
  "Thin Strokes" : 4,
  "ASCII Ligatures" : false
}
