{{ range (gitHubKeys "masonkatz") -}}
{{ .Key }}
{{ end -}}
{{ if and (eq .org "teradata") (eq .chezmoi.os "darwin")  -}}
   {{ include (joinPath .chezmoi.homeDir ".ssh/id_ed25519.pub") -}}
{{ end -}}
