Host *
{{- if eq .chezmoi.os "darwin" }}
  UseKeychain yes
{{- end }}
  AddKeysToAgent yes
  ServerAliveInterval 120
  TCPKeepAlive no
  ForwardAgent yes

{{ if eq .chezmoi.os "darwin" }}
Host buster-dev
  Hostname localhost
  Port 22000

Host centos-dev
  Hostname localhost
  Port 22001

Host alpine-dev
  Hostname localhost
  Port 22002

Host bullseye-dev
  Hostname localhost
  Port 22003
{{ end }}  
