{{- define "local-container" }}
Host {{ .Name }}
  Port     {{ .Port }}
  Hostname localhost
{{- end }}

{{- define "host-alias" }}
Host {{ .Alias }}
  User     {{ .User }}
  Hostname {{ .Host }}
{{- end -}}

Host *
{{- if eq .chezmoi.os "darwin" }}
  UseKeychain           yes
  ForwardX11            yes
  ForwardX11Timeout     0
{{- end }}
  AddKeysToAgent        yes
  ServerAliveCountMax   30
  ServerAliveInterval   60
  ForwardAgent          yes

{{- if eq .chezmoi.os "darwin" }}
{{ template "local-container" (dict "Name" "linux" "Port" "2200") }}
{{- end }}

{{- if eq .org "Endobit" }}
{{ template "host-alias" (dict "Host" .hbook  "Alias" "hbook" "User" "mason.katz" )}}
{{- end }}
