# -*- mode: conf -*-
[user]
	name  = {{ .fullname }}
	email = {{ .email }}
{{- if stat (joinPath .chezmoi.homeDir ".ssh/id_rsa.pub") }}
	signingKey = {{ include (joinPath .chezmoi.homeDir ".ssh/id_rsa.pub") }}
{{- end }}

[column]
	ui = auto

[branch]
	sort = -committerdate

[init]
{{- if eq .org "teradata" }}
	defaultBranch = develop
{{- else }}
	defaultBranch = main
{{- end }}

[diff]
	algorithm = histogram
	colorMoved = plain
	renames = true
	
[core]
	pager = less -FX

[rerere]
	enabled = true
	autoupdate = true

[fetch]
	all = true
	prune = true
	pruneTags = true

[push]
	autoSetupRemote = true
	followTags = true

[pull]
    rebase = true

[merge]
	conflictstyle = zdiff3

[submodule]
	recurse = true

{{- if eq .org "endobit" }}
[gitflow "prefix"]
	feature = feature/
	bugfix  = bugfix/
	release = release/
	hotfix  = hotfix/
 	support = support/
	versiontag =

[gitflow "branch"]
	master  = main
	develop = develop

[log]
	showSignature = true
{{- end }}

{{ if eq .org "teradata" }}
[url "ssh://git@github.com"]
	insteadOf = https://github.com

[url "ssh://git@github.td.teradata.com"]
	insteadOf = https://github.td.teradata.com
{{- end }}

[commit]
	template = {{ .chezmoi.homeDir }}/.config/git/commit-template
{{ if stat (joinPath .chezmoi.homeDir ".ssh/id_rsa.pub") -}}
	gpgSign = true
{{- end }}

[tag]
	sort = version:refname
{{ if stat (joinPath .chezmoi.homeDir ".ssh/id_rsa.pub") -}}
	gpgSign = true
	forceSignAnnotated = true
{{- end }}

[blame]
	coloring = highlightRecent
	date = human
	
[gpg]
	format=ssh

[gpg "ssh"]
	 allowedSignersFile = {{ .chezmoi.homeDir}}/.config/git/signers

[alias]
	graph = log --graph --pretty=format:'%Cred%h%Creset - %C(cyan)<%an>%Creset%C(yellow)%d%Creset %s %Cgreen(%cr)' --abbrev-commit --date=relative

[help]
	autocorrect = prompt
