{{ range (gitHubKeys "masonkatz") -}}
mason {{ .Key }}
{{ end -}}
{{ if eq .org "teradata" -}}
{{ if stat (joinPath .chezmoi.homeDir ".ssh/id_ed25519.pub") -}}
mason {{ include (joinPath .chezmoi.homeDir ".ssh/id_ed25519.pub") -}}
{{ end -}}
{{ end -}}
