#!/bin/zsh

case $TERM in
xterm*|eat-*color|eterm-*color|screen*color)
{{- if eq .chezmoi.os "darwin" }}
	alias ls="gls -F --color"
{{- else }}
	alias ls="ls -F --color"
{{- end }}
	;;
esac

{{- if eq .chezmoi.os "darwin" }}
alias ack="ag"
alias bubo="brew update && brew outdated"
alias bubu="bubo && bup"
alias bup="brew upgrade"
alias dircolors="gdircolors"
alias fack="ag -Q"
alias ldd="otool -L"
{{- end  }}

alias cz=chezmoi
alias cza="chezmoi apply"
alias czd="chezmoi diff"
alias czs="chezmoi status"

alias gd="git diff"
alias gl="git log"
alias gst="git status"
alias yolo="git commit -am checkpoint; git push"
alias gundo="git reset HEAD~1"

alias l=less

alias la="ls -a"
alias ll="ls -la"

alias m=make
