{{- /*-*- mode: sh -*-*/ -}}

case $TERM in
xterm*|eat-*color|eterm-*color|screen*color)
{{- if eq .chezmoi.os "darwin" }}
	ls="gls"
{{- else }}
	ls="ls"
{{- end }}
	alias ls="$ls -F --color --quoting-style=literal"
	;;
esac

{{- if eq .chezmoi.os "darwin" }}
alias ack="pt"
alias bubo="brew update && brew outdated"
alias bubu="bubo && bup"
alias bup="brew upgrade"
alias dircolors="gdircolors"
alias ldd="otool -L"
{{- end }}

alias cz=chezmoi
alias cza="cz apply"
alias czcd="cz cd"
alias czd="cz diff"
alias czs="cz status"

alias gd="git diff"
alias gl="git log"
alias gst="git status"
alias golo="git commit -am checkpoint; git push"
alias gundo="git reset HEAD~1"

if type -p moor &> /dev/null; then
alias less=moor
fi

alias l=less

alias la="ls -a"
alias ll="ls -la"

alias m=make
