#!/bin/zsh

{{ template "zsh/path-prepend.tmpl" "~/go/bin" }}

{{ if eq .org "teradata" }}
export ORGANIZATION=teradata
export GOPRIVATE="github.com/Teradata-*,github.td.teradata.com/*"

# gcloud cli

gcpsdk=~/src/gcp/google-cloud-sdk

{{ template "zsh/source.tmpl" "${gcpsdk}/path.zsh.inc" }}
{{ template "zsh/source.tmpl" "${gcpsdk}/completion.zsh.inc" }}
{{ end }}

{{ if eq .org "endobit" }}
export ORGANIZATION=endobit
{{ end }}


# python
#
# We can't pip install into HomeBrew python so use pyenv to get a private python
# and then use venv to virtualize it. Just virtualizing the HomeBrew python
# still doesn't allow pip install to work.

export VIRTUAL_ENV_DISABLE_PROMPT=1

# requires pyenv (brew package)
# created with:
#
# pyenv install <python-version>
type pyenv &>/dev/null && eval "$(pyenv init - zsh)"

# created with:
#
# python3 -mvenv ~/.venv/default

{{ template "zsh/source.tmpl" "~/.venv/default/bin/activate" }}

{{- if eq .chezmoi.os "darwin" }}
# rancher desktop
{{ template "zsh/path-prepend.tmpl" "~/.rd/bin"}}

export OLLAMA_API_BASE=http://127.0.0.1:11434
export OLLAMA_CONTEXT_LENGTH=8192
{{- end}}

