#!/bin/zsh

{{- if eq .org "teradata" }}
export ORGANIZATION=teradata
export GOPRIVATE="github.com/Teradata-*,github.td.teradata.com/*"

# gcloud cli

gcpsdk=${HOME}/src/gcp/google-cloud-sdk

[[ -f "${gcpsdk}/path.zsh.inc" ]] && source "${gcpsdk}/path.zsh.inc"
[[ -f "${gcpsdk}/completion.zsh.inc" ]] && source "${gcpsdk}/completion.zsh.inc"
{{- end }}

{{- if eq .org "endobit" }}
export ORGANIZATION=endobit
{{- end }}
