#!/bin/zsh

export VISUAL=emacsclient
export EDITOR=emacsclient
export ALTERNATE_EDITOR="emacs -nw"	# emacsclient uses this

alias emacs='emacsclient -c -a ""' # -a"" means start a server if it doesn't exist
alias e=emacs

# Kill the Emacs daemon if it is running.
function emacs-stop() {
	if emacsclient -a false -e '(progn (message "Stopping Emacs...") (kill-emacs))' >/dev/null 2>&1; then
		echo "Stopped Emacs daemon."
	else
		echo "Emacs daemon was not running."
	fi
}

# Kill and restart the Emacs daemon.
function emacs-restart() {
	emacs-stop

	echo "Starting Emacs daemon..."
	"emacs" --daemon
}

{{- if eq .chezmoi.os "darwin" }}

if [[ -x /opt/xemacs/bin/emacs ]]; then # X11 version
	alias xe=/opt/xemacs/bin/emacs
fi

{{- end }}

