#!/bin/zsh

export VISUAL=emacsclient
export EDITOR=emacsclient
export ALTERNATE_EDITOR="emacs -nw"	# emacs client uses this

alias e="emacsclient -c"

function restart-emacs() {
	if emacsclient -e '(progn (message "Killing Emacs...") (kill-emacs))' >/dev/null 2>&1; then
		echo "Stopped Emacs daemon."
	else
		echo "Emacs daemon was not running."
	fi

	echo "Starting Emacs daemon..."
	"emacs" --daemon
}

{{- if eq .chezmoi.os "darwin" }}
if [ -x /usr/local/bin/emacs ]; then
	if /usr/local/bin/emacs --batch --eval '(kill-emacs (if (string-match "X11" system-configuration-features) 0 1))'; then
		alias xe=/usr/local/bin/emacs # emacs w/ X11 support
	fi
fi
{{- end }}

