{{- /*-*- mode: sh -*-*/ -}}

# Share history across all open terminal sessions
setopt SHARE_HISTORY

# Append history immediately after each command is executed
setopt INC_APPEND_HISTORY

# Ensure history is appended rather than overwritten
setopt APPEND_HISTORY   
