#!/bin/zsh

type thefuck &>/dev/null && eval "$(thefuck --alias)"

case $TERM in
eat-*)
	TERM=xterm-color
	;;
xterm-ghostty)
	[[ -n "$SSH_CONNECTION" ]] && TERM=xterm-color
esac

[[ -f ~/.dircolors ]] && eval `dircolors -b ~/.dircolors`

case $TERM in
xterm*)
	export STARSHIP_CONFIG=~/.config/starship/config.toml
	type starship &>/dev/null && eval "$(starship init zsh)"

{{- if eq .chezmoi.os "darwin" }}
	[[ -d $HOMEBREW_PREFIX ]] && source ${HOMEBREW_PREFIX}/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{- end }}
	;;
eterm-*color)
	chpwd() { print -P "\033AnSiTc %d" }
	print -P "\033AnSiTu %n"
	print -P "\033AnSiTc %d"
	;;
dumb)
	unsetopt zle
	PS1="$ "
	;;
esac			 
