{
{{- if eq .chezmoi.os "darwin" }}
  "auths": {},
{{- if eq .org "endobit" }}
  "credsStore": "desktop",
  "currentContext": "desktop-linux",
{{- else }}
  "credsStore": "osxkeychain",
  "currentContext": "rancher-desktop",
{{- end }}
  "cliPluginsExtraDirs": ["/opt/homebrew/lib/docker/cli-plugins"]
{{- end  }}
}
