{
{{- if eq .chezmoi.os "darwin" }}
	"auths": {},
	"credsStore": "desktop",
	"currentContext": "desktop-linux",
{{- if eq .chezmoi.arch "arm64" }}
	"cliPluginsExtraDirs": ["/opt/homebrew/lib/docker/cli-plugins"]
{{- else }}
	"cliPluginsExtraDirs": ["/usr/local/lib/docker/cli-plugins"]
{{- end  }}
{{- end  }}
}
