{
{{- if eq .chezmoi.os "darwin" }}
  "auths": {},
{{- if eq .org "endobit" }}
  "credsStore": "desktop",
  "currentContext": "desktop-linux",
{{- else }}
  "credsStore": "osxkeychain",
  "currentContext": "rancher-desktop",
{{- end }}
{{- if eq .chezmoi.arch "arm64" }}
	"cliPluginsExtraDirs": ["/opt/homebrew/lib/docker/cli-plugins"]
{{- else }}
	"cliPluginsExtraDirs": ["/usr/local/lib/docker/cli-plugins"]
{{- end  }}
{{- end  }}
}
